main {
  margin: 25px 0;
}

header {
  display: flex;
  flex-direction: row;
}

h1 {
  background-color: gold;
  border-bottom: dotted black 2px;
  padding-bottom: 5px;
  padding-left: 20px;
}

img {
  height: 50px;
}

.download-button {
  display: inline-block;
  margin: 30px, 30px, auto, auto;
}

.text-frame {
  margin: 50px auto;
  border-width: 5px;
  max-width: 80%;
  padding-top: 10px;
  background-color: rgba(128,128,128, 50%);
  overflow: auto;
}

.line {
  border-bottom: solid rgba(255,0,0,40%) 1px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-left: 10px;
}

/* Language Highlighting */
/* Glossary: https://stackoverflow.com/questions/15388831/what-are-all-possible-pos-tags-of-nltk */


/* Language Highlighting */
/* Glossary: https://stackoverflow.com/questions/15388831/what-are-all-possible-pos-tags-of-nltk */

/* Yellow */
.CC, .LS, .MD, .RP, .TO {
  color: yellow;
}

/* Purple */
.CD, .PRP, .PRP$, .WP {
  color: purple;
}

/* Orange */
.DT, .PDT, .POS, .WDT {
  color: orange;
}

/* Pink */
.EX, .UH {
  color: pink;
}

/* Red */
.JJ, .JJR, .JJS, .RB, .RBR, .RBS, .WRB {
  color: red;
}

/* Blue */
.NN, .NNP, .NNS {
  color: blue;
}

/* Green */
.VB, .VBD, .VBG, .VBN, .VBP, .VBZ {
  color: green;
}
