<!--
Copyright © Eric Cohen 2023
This page displays the file text and provides option to download.
-->
<!DOCTYPE HTML>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DOCX -> TXT</title>
  <link rel="icon" href="../static/images/convert.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/uploaded.css">
</head>
<body>
  <header>
    <h1>Oh your god, look, it's the file!!!!</h1>
  </header>
  <main>
    <!-- TODO: -->
    <form method = "post" enctype="multitype/form-data">
      <input type = "submit" value="download">
    </form>
    <div class="rounded border-warning text-frame">
      {%for line in file%}
      <pre class="line">{{line|escape}}</pre>
      {%endfor%}
    </div>
  </main>
    <!-- TODO: -->

</body>
