<!--
Copyright © Eric Cohen 2023
This page displays the file text and provides option to download.
-->
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DOCX -> TXT</title>
    <link rel="icon" href="../static/images/back_button.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/uploaded.css">
    <script src="../static/uploaded.js"></script>
  </head>
  <body>
    <header>
      <h1>
        <a href="/">
          <img id="back-button" src="https://cdn.discordapp.com/attachments/341374335711182848/1125083596185665546/back_button_edited.jpg" /></a>
          The File has been converted and grammatically highlighted for your convenience.
      </h1>
      <button id="key-button" class="btn btn-info" type="button">Key</button>
    </header>
</header>

    <main>
      <div id="keys" hidden>
        <h3><b>Key</b></h3>
        <ul id="key">
          <li id="blue">Blue: Nouns</li>
          <li id="green">Green: Verbs</li>
          <li id="red">Red: Adjectives, Adverbs</li>
          <li id="purple">Purple: Numerals, Pronouns</li>
          <li id="yellow">Yellow: Conjunctions, Modals, Particles</li>
          <li id="pink">Pink: Expletives, Interjections</li>
          <li id="orange">Orange: Determiners</li>
        </ul>
      </div>
      <h2>Hover over a word!</h2>
      <a class="download-button" href="{{ url_for('download', filename=filename) }}">
        <button type="button" class="btn btn-info">Download txt</button>
      </a>
      <div class="rounded border-warning text-frame">
            <h3 id="file-name">{{fileName}}</h3>
        {%for line in file%}
        <pre class="line">{{line|safe}}</pre>
        {%endfor%}
      </div>
    </main>
  </body>
</html>
